@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  color: #333333;
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.ant-btn-primary {
  background-color: #3996f3 !important;
  color: black !important;
}

.ant-btn-primary:hover {
  background-color: #3e639e !important;
  color: black !important;
}

.ant-menu-title-content{
  color: black !important;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #3996f3 !important;
  color: black !important;
}

.ant-menu-dark .ant-menu-item:hover {
  background-color: #3e639e !important;
  color: black !important;
}

.ant-layout-footer {
  background-color: #F5F5F5 !important;
  color: #666666 !important;
  color: black !important;
}


.gm-style-iw-tc{
  display: none !important;
}

.gm-style-iw {
  padding: 0 !important;
}

.gm-style-iw-d {
  overflow: hidden !important;
  padding: 0 !important;
}

.gm-ui-hover-effect {
  display: none !important;
}

.gm-style-iw-tc {
  display: none !important;
}

.ant-dropdown-menu{
  border-radius: 10px !important;
}

